{{!--
    TPU Brand Marquee
    Infinite scrolling brand logos
--}}

<section class="tpu-marquee">
    <div class="tpu-marquee__header">
        <span class="tpu-marquee__title">Trusted by professionals. Featuring top brands.</span>
    </div>
    
    <div class="tpu-marquee__wrapper">
        <div class="tpu-marquee__track">
            {{!-- First set of brands --}}
            <div class="tpu-marquee__content">
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Dexter Axle</span>
                </div>
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Lippert</span>
                </div>
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Redline</span>
                </div>
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Demco</span>
                </div>
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Bargman</span>
                </div>
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Fulton</span>
                </div>
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Hopkins</span>
                </div>
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Curt</span>
                </div>
            </div>
            {{!-- Duplicate for seamless loop --}}
            <div class="tpu-marquee__content">
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Dexter Axle</span>
                </div>
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Lippert</span>
                </div>
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Redline</span>
                </div>
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Demco</span>
                </div>
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Bargman</span>
                </div>
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Fulton</span>
                </div>
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Hopkins</span>
                </div>
                <div class="tpu-marquee__item">
                    <span class="tpu-marquee__brand-name">Curt</span>
                </div>
            </div>
        </div>
    </div>
</section>

