{{!--
    TPU Stats Bar
    Animated statistics with number ticker effect
--}}

<div class="tpu-stats">
    <div class="tpu-stats__item">
        <div class="tpu-stats__number" data-tpu-counter data-target="50000">
            <span class="tpu-number-ticker">50,000</span>
            <span class="tpu-stats__suffix">+</span>
        </div>
        <span class="tpu-stats__label">Parts in Stock</span>
    </div>
    
    <div class="tpu-stats__item">
        <div class="tpu-stats__number" data-tpu-counter data-target="25">
            <span class="tpu-number-ticker">25</span>
            <span class="tpu-stats__suffix">+</span>
        </div>
        <span class="tpu-stats__label">Years Experience</span>
    </div>
    
    <div class="tpu-stats__item">
        <div class="tpu-stats__number" data-tpu-counter data-target="100">
            <span class="tpu-number-ticker">100</span>
            <span class="tpu-stats__suffix">%</span>
        </div>
        <span class="tpu-stats__label">Satisfaction Guarantee</span>
    </div>
</div>

